<%- include ("../templates/encabezado")%>
<%
    if(tipo == undefined){
%>

<%- include ("../templates/menuAdmin")%>

<% 
    } 
    else {
%>
 <%- include ("../templates/menuUsuarios")%>

<% 
    }
%>
<div class="container">
    <h1>Obras</h1>
    <div class="obra-grid">
      <% obras.forEach((obra) => { %>
        <div class="card obra-card">
          <img src="/images/<%= obra.foto %>" class="card-img-top obra-img" alt="<%= obra.nombre %>">
          <div class="card-body">
            <h5 class="card-title obra-title"><%= obra.nombre %></h5>
            <p class="card-text obra-artist">Artista: <%= obra.artista %></p>
            <p class="card-text obra-year">Año: <%= obra.anio %></p>
          </div>
          <div class="card-footer">
            <a href="/obra/detallesobra/<%= obra.id %>" class="btn btn-primary obra-details-btn">Ver detalles</a>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <%- include ("../templates/pie")%>