<%- include ("../templates/encabezado")%>
<%
    if (tipo == undefined) {
%>

<%- include ("../templates/menuAdmin")%>

<% 
    } else {
%>
<%- include ("../templates/menuUsuarios")%>

<% 
    }
%>
<div class="detalles-container">
    <h1>Detalles de la obra</h1>
    <div class="obra-details">
        <div class="obra-details-info">
            <img src="/images/<%= obra.foto %>" alt="<%= obra.nombre %>" class="detalles-obra-img">
            <table class="obra-table">
                <tr>
                    <td class="table-label-detalles">Nombre:</td>
                    <td><%= obra.nombre %></td>
                </tr>
                <tr>
                    <td class="table-label-detalles">Artista:</td>
                    <td><%= obra.artista %></td>
                </tr>
                <tr>
                    <td class="table-label-detalles">Año:</td>
                    <td><%= obra.anio %></td>
                </tr>
                <tr>
                    <td class="table-label-detalles">Calificación:</td>
                    <td><%= obra.calificacion %></td>
                </tr>
            </table>
        </div>

        <div class="obra-description">
            <h2 class="detalles-h2">Descripción:</h2>
            <p class="detalles-p"><%= obra.descripcion %></p>
          
            <!-- Formulario de calificación -->
            <form id="calificacionForm" data-obraid="<%= obra.id %>" action="/obra/obras/calificar/<%= obra.id %>" method="post">
                <p class="clasificacion">
                    <% for (let i = 5; i >= 1; i--) { %>
                        <input id="radio<%= i %>" type="radio" name="calificacion" value="<%= i %>" <%= obra.calificacion === i ? 'checked' : '' %>>
                        <label for="radio<%= i %>">★</label>
                    <% } %>
                </p>
                <button type="submit" class="btn btn-primary">Calificar</button>
            </form>
        </div>
    </div>

    <!-- Sección de Comentarios -->
    <div class="comentarios">
        <h3 class="comentarios">Comentarios</h3>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <% if (comentarios.length == 0) { %>
                <p>No hay comentarios en este momento</p>
            <% } else { %>
                <% comentarios.forEach((comentario) => { %>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= comentario.id %>" aria-expanded="false" aria-controls="flush-collapse<%= comentario.id %>">
                                <i>Comentario hecho por: <%= comentario.usuario %></i>
                            </button>
                        </h2>
                        <div id="flush-collapse<%= comentario.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><%= comentario.comentario %></div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
<br>
    <!-- Formulario para agregar nuevos Comentarios -->
    <div class="agregar-comentario">
        <h3 class="comentarios">Agregar Comentario</h3>
        <br>
        <form action="/obra/agregarComentario" method="POST">
            <input type="hidden" name="obra" value="<%= obra.id %>"> <!-- Asegúrate de pasar el ID de la obra -->
            <div class="form-group">
                <label for="comentario">Escribe tu comentario aqui abajo:</label>
                <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</div>
<%- include ("../templates/piedonar")%>
