
<%- include ("../templates/encabezado")%>
<%
    if(tipo == undefined){
%>

<%- include ("../templates/menuUsuarios")%>

<% 
    } 
    else {
%>
<%- include ("../templates/menuAdmin")%>

<% 
    }
%>
<div class="container mt-5">
    <div class="card-user">
            <div class="card-header-user">
                <h1>Obras</h1>
            </div>
            <div class="card-body-user">
                <table class="custom-table">
                    <thead class="thead-user">
                        <tr class="tr-user">
                            <th class="th-user">Id</th>
                            <th class="th-user">Nombre</th>
                            <th class="th-user">Artista</th>
                            <th class="th-user">Descripcion</th>
                            <th class="th-user">Año</th>
                            <th class="th-user">Calificacion</th>
                            <th class="th-user">Foto</th>
                            <th class="th-user">Editar / Borrar</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-user">
                        <% obrasSnapshot.forEach((obra) => { %>
                        <tr>
                            <td class="td-user"><%= obra.id %></td>
                            <td class="td-user"><%= obra.nombre %></td>
                            <td class="td-user"><%= obra.artista %></td>
                            <td class="td-user"> <%= obra.descripcion %></td>
                            <td class="td-user"><%= obra.anio %></td>
                            <td class="td-user"><%= obra.calificacion %></td>

                            <td class="td-user"><img  src="/images/<%= obra.foto %>"></td>
                            <td>
                                <a href="/obra/obras/editarObra/<%= obra.id %>"><img src="/images/usuario.png"></a>
                                <a href="/obra/obras/borrarObra/<%= obra.id %>"><img src="/images/eliminar-user-obra.png"></a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
    </div>
</div>


<%-  include("../templates/piedonar") %>


